h1 {
  text-align: center;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #81032d;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #6a50eb;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #ff6d48;
}
.token.function {
  color: #007580;
}
.code-block {
  border: 2px solid #393c5563;
  border-radius: 4px;
  padding-top: 4px;
  padding-left: 4px;
}
